flows/CreateAccountAndContact.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>Desc</description>
        <name>Map_Account</name>
        <label>Map Account</label>
        <locationX>520</locationX>
        <locationY>209</locationY>
        <assignmentItems>
            <assignToReference>varRAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRAccount.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountProspectingRating</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRAccount.Industry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Industry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Desc</description>
        <name>Map_Contact</name>
        <label>Map Contact</label>
        <locationX>814</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>varRContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactName.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactName.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactEmail.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
    </assignments>
    <description>Desc</description>
    <dynamicChoiceSets>
        <description>Desc</description>
        <name>AccountIndustry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Industry</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Desc</description>
        <name>AccountProspectingRating</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rating</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>CreateAccountAndContact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateAccountAndContact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Desc</description>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>984</locationX>
        <locationY>480</locationY>
        <inputReference>varRContact</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Desc</description>
        <name>Create_New_Account</name>
        <label>Create New Account</label>
        <locationX>673</locationX>
        <locationY>285</locationY>
        <connector>
            <targetReference>Map_Contact</targetReference>
        </connector>
        <inputReference>varRAccount</inputReference>
    </recordCreates>
    <screens>
        <description>Desc</description>
        <name>Create_Account_Contact</name>
        <label>Create Account &amp; Contact</label>
        <locationX>386</locationX>
        <locationY>130</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Map_Account</targetReference>
        </connector>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Prospecting_Rating</name>
            <choiceReferences>AccountProspectingRating</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Prospecting Rating</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Industry</name>
            <choiceReferences>AccountIndustry</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Industry</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ContactName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact Email</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>18</locationX>
        <locationY>59</locationY>
        <connector>
            <targetReference>Create_Account_Contact</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Desc</description>
        <name>varRAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Desc</description>
        <name>varRContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
