flows/CreateOpptWhenAccountHasNoOppt.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>Desc</description>
        <name>Create_Opportunity</name>
        <label>Map Opportunity Fields</label>
        <locationX>186</locationX>
        <locationY>390</locationY>
        <assignmentItems>
            <assignToReference>NewOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpptName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initial Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpportunity.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>125000.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Opportunity</targetReference>
        </connector>
    </assignments>
    <description>Desc</description>
    <formulas>
        <description>Desc</description>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 90</expression>
    </formulas>
    <formulas>
        <description>Desc</description>
        <name>OpptName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name}&amp;&apos; &apos;&amp;TEXT({!$Flow.CurrentDateTime})</expression>
    </formulas>
    <interviewLabel>CreateOpptWhenAccountHasNoOppt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateOpptWhenAccountHasNoOppt</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Desc</description>
        <name>Create_New_Opportunity</name>
        <label>Create New Opportunity</label>
        <locationX>185</locationX>
        <locationY>575</locationY>
        <inputReference>NewOpportunity</inputReference>
    </recordCreates>
    <start>
        <locationX>60</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Number_of_Opportunities__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Desc</description>
        <name>NewOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
