flows/CreateNewLead.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Map_values</name>
        <label>Map values</label>
        <locationX>590</locationX>
        <locationY>68</locationY>
        <assignmentItems>
            <assignToReference>varRLead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadContactName.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadContactName.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.AnnualRevenue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnnualRevenue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_values_0</name>
        <label>Map values</label>
        <locationX>775</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>varRLead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadContactName.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadContactName.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRLead.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High Worth Lead</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Amount</name>
        <label>Amount</label>
        <locationX>617</locationX>
        <locationY>256</locationY>
        <defaultConnector>
            <targetReference>Process_lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1M</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRLead.AnnualRevenue</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Map_values_0</targetReference>
            </connector>
            <label>&gt;1M</label>
        </rules>
    </decisions>
    <description>Desc</description>
    <interviewLabel>CreateNewLead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateNewLead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>New_Lead_Creation</name>
        <label>New Lead Creation</label>
        <locationX>448</locationX>
        <locationY>67</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Map_values</targetReference>
        </connector>
        <fields>
            <name>LeadContactName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Company</name>
            <dataType>String</dataType>
            <fieldText>Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AnnualRevenue</name>
            <dataType>Currency</dataType>
            <fieldText>Annual Revenue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>New_Lead_Creation</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Process_lead</name>
        <label>Process lead</label>
        <locationX>634</locationX>
        <locationY>524</locationY>
        <flowName>SubFlow</flowName>
        <inputAssignments>
            <name>varRLead_New</name>
            <value>
                <elementReference>varRLead</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varRLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
