flows/CreateOpptTasks.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>Desc</description>
        <name>Get_Task_Counts</name>
        <label>Get Task Counts</label>
        <locationX>285</locationX>
        <locationY>529</locationY>
        <assignmentItems>
            <assignToReference>varNOpenTaskCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Check_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Task_Counts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Desc</description>
        <name>Map_Task_Fields</name>
        <label>Map Task Fields</label>
        <locationX>841</locationX>
        <locationY>549</locationY>
        <assignmentItems>
            <assignToReference>NewTask.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task Subject</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Desc</description>
        <name>Check_Task_Counts</name>
        <label>Check Task Counts</label>
        <locationX>618</locationX>
        <locationY>549</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNOpenTaskCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Map_Task_Fields</targetReference>
            </connector>
            <label>Has Tasks</label>
        </rules>
    </decisions>
    <description>Desc</description>
    <interviewLabel>CreateOpptTasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateOpptTasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Desc</description>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>1068</locationX>
        <locationY>548</locationY>
        <inputReference>NewTask</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Desc</description>
        <name>Check_Tasks</name>
        <label>Check Tasks</label>
        <locationX>202</locationX>
        <locationY>367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task_Counts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Check_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0050P000008FjN4</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-01-22</startDate>
            <startTime>18:44:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Desc</description>
        <name>NewTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Desc</description>
        <name>varNOpenTaskCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
