flows/CreateOpptFromSchedule.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>Desc</description>
        <name>Map_Oppt_Fields</name>
        <label>Map Oppt Fields</label>
        <locationX>233</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>NewOppt.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOppt.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpptName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOppt.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOppt.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quote Given</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOppt.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>12000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOppt.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0050P000008FjN4QAK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Oppt</targetReference>
        </connector>
    </assignments>
    <description>Desc</description>
    <formulas>
        <description>Desc</description>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 90</expression>
    </formulas>
    <formulas>
        <description>Desc</description>
        <name>OpptName</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDateTime})</expression>
    </formulas>
    <interviewLabel>CreateOpptFromSchedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateOpptFromSchedule</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Desc</description>
        <name>Create_New_Oppt</name>
        <label>Create New Oppt</label>
        <locationX>324</locationX>
        <locationY>526</locationY>
        <inputReference>NewOppt</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Map_Oppt_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Number_of_Opportunities__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-01-25</startDate>
            <startTime>23:47:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Desc</description>
        <name>NewOppt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
