flows/Jan13thHomeWork.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <description>Decide which is the bigger number</description>
        <name>DecideBiggerNumber</name>
        <label>DecideBiggerNumber</label>
        <locationX>906</locationX>
        <locationY>94</locationY>
        <defaultConnector>
            <targetReference>NumbersAreEqual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Equals</defaultConnectorLabel>
        <rules>
            <name>X1stIsBigger</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X1stNumber</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>X2ndNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1stIsBigger_0</targetReference>
            </connector>
            <label>1stIsBigger</label>
        </rules>
        <rules>
            <name>X2ndISBigger</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X2ndNumber</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>X1stNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2ndIsBigger_0_0</targetReference>
            </connector>
            <label>2ndISBigger</label>
        </rules>
    </decisions>
    <description>Desc</description>
    <interviewLabel>Jan13thHomeWork {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Jan13thHomeWork</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Jan13thHomework</name>
        <label>Jan13thHomework</label>
        <locationX>490</locationX>
        <locationY>77</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>X2Numbers</targetReference>
        </connector>
        <fields>
            <name>CheckboxField</name>
            <dataType>Boolean</dataType>
            <fieldText>CheckboxField</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CurrencyField</name>
            <dataType>Currency</dataType>
            <fieldText>CurrencyField</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Please enter a valid currency&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>DateTimeField</name>
            <dataType>DateTime</dataType>
            <fieldText>DateTimeField</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Please enter Date and Time&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LongTextAreaField</name>
            <fieldText>LongTextAreaField</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Please enter Long Text Area field&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PasswordField</name>
            <fieldText>PasswordField</fieldText>
            <fieldType>PasswordField</fieldType>
            <helpText>&lt;p&gt;Please enter Password&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TextField</name>
            <dataType>String</dataType>
            <fieldText>TextField</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Please enter Text field&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NumbersAreEqual</name>
        <label>NumbersAreEqual</label>
        <locationX>1209</locationX>
        <locationY>470</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowEquals</name>
            <fieldText>&lt;p&gt;Both numbers are equal:&lt;/p&gt;&lt;p&gt;{!X1stNumber}&lt;/p&gt;&lt;p&gt; {!X2ndNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>X1stIsBigger_0</name>
        <label>1stIsBigger</label>
        <locationX>763</locationX>
        <locationY>463</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Show1stNumber_0</name>
            <fieldText>&lt;p&gt;1st number is bigger {!X1stNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>X2ndIsBigger_0_0</name>
        <label>2ndIsBigger</label>
        <locationX>1007</locationX>
        <locationY>467</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Show2ndNumber_0_0</name>
            <fieldText>&lt;p&gt;2nd number is bigger {!X2ndNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>X2Numbers</name>
        <label>2Numbers</label>
        <locationX>704</locationX>
        <locationY>87</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DecideBiggerNumber</targetReference>
        </connector>
        <fields>
            <name>X1stNumber</name>
            <dataType>Number</dataType>
            <fieldText>1stNumber</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Please enter 1st Number&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>X2ndNumber</name>
            <dataType>Number</dataType>
            <fieldText>2ndNumber</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Please enter 2nd Number&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Jan13thHomework</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
