flows/Jan25thLoopFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Greater</name>
        <label>Greater</label>
        <locationX>864</locationX>
        <locationY>661</locationY>
        <assignmentItems>
            <assignToReference>listG5k</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Less</name>
        <label>Less</label>
        <locationX>1128</locationX>
        <locationY>661</locationY>
        <assignmentItems>
            <assignToReference>listL5K</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Amount</name>
        <label>Check Amount</label>
        <locationX>996</locationX>
        <locationY>541</locationY>
        <defaultConnector>
            <targetReference>Less</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X5000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop.Amount</leftValueReference>
                <operator>GreaterThan</operator>
            </conditions>
            <connector>
                <targetReference>Greater</targetReference>
            </connector>
            <label>&gt;5000</label>
        </rules>
    </decisions>
    <description>Desc</description>
    <interviewLabel>Jan25thLoopFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Jan25thLoopFlow</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>776</locationX>
        <locationY>421</locationY>
        <collectionReference>Related_opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Record</name>
        <label>Create Record</label>
        <locationX>776</locationX>
        <locationY>973</locationY>
        <inputReference>NewOpp</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Related_opportunities</name>
        <label>Related opportunities</label>
        <locationX>776</locationX>
        <locationY>301</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Related_opportunities</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>listG5k</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>listL5K</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>NewOpp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
